.div-container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.div-aros {
  -o-border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  background-color: red;
  border: 20px solid white;
}

.div-aros,
.aro-ext,
.mira-x,
.mira-y {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.aro1 {
  width: 40px;
  height: 40px;
  outline: 20px solid red;
  z-index: 1000;
}

.aro2 {
  width: 120px;
  height: 120px;
  outline: 20px solid red;
  z-index: 500;
}

.aro3 {
  width: 200px;
  height: 200px;
  outline: 20px solid red;
  z-index: 100;
}

.aro4 {
  width: 320px;
  height: 320px;
  background-color: white;
  border: 20px solid red;
  z-index: 1;
}

.aro3,
.aro4,
.aro-ext {
  -o-border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
}

.aro-ext {
  width: 340px;
  height: 340px;
  border: 20px solid gainsboro;
  box-shadow: 2px 2px black;
  z-index: 1600;
}

.mira-x {
  height: 2px;
  width: 380px;
  background-color: black;
  z-index: 1500;
}

.mira-y {
  height: 380px;
  width: 2px;
  background-color: black;
  z-index: 1500;
}
