* {
  background-color: rgb(234, 245, 255);
}

caption span {
  font-size: 22px;
  font-weight: bolder;
  background-color: dodgerblue;
}

.table-main {
  width: 600px;
  margin: 0 auto;
  border: 4px solid black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
}

table,
.table-head *,
.table-content * {
  background-color: rgb(251, 214, 173);
}

thead th {
  padding-top: 10px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.table-content > td {
  border-left: 1px solid black;
  border-bottom: 2px solid black;
}

tfoot * {
  font-size: 20px;
  background-color: dodgerblue;
}
