/* 
* * GLOBAL PROPERTIES
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* 
* * << HEADER >>
* * --> Navbar properties: 
*/
.header-navbar {
  padding: 2vh 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navbar-image {
  width: 10%;
  height: 10%;
}

.header-navbar-image:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header-navbar-list {
  width: 30%;
  text-align: right;
}

.header-navbar-list li {
  padding: 3%;
  display: inline-block;
  font-weight: 500;
}

.header-navbar-list li:hover {
  color: #00b172;
  cursor: pointer;
}

/* 
* * << HEADER >>
* * --> Banner properties: 
*/
.header-banner {
  height: 80vh;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header-banner h1 {
  font-size: 4em;
  padding: 2vh;
}

.header-banner p {
  font-size: 20px;
  font-weight: 100;
}

.header-banner h1,
.header-banner p {
  color: white;
}

/* 
* * << SECTION >>
* * --> Section properties: 
 */
.section-container {
  height: 45vh;
  padding: 2% 3%;
  text-align: center;
}

.section-title {
  margin: 0 auto 2% auto;
  width: fit-content;
  padding-bottom: 0.5%;
  border-bottom: 2px solid #00b172;
}

.section-container-title {
  font-size: 30px;
}

.section-content {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.section-content-images {
  width: 25%;
}

.section-contents h2 {
  color: #00b172;
  margin: 3% 0;
}

/*  
TODO: Need to style the last section
*/

/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
